<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}'s app</title>
  </head>
  <body>
    <div style="display: flex;align-items: center;justify-content: center;">
        <form  action="/" method="post">
            <h2>Ready to Work!</h2>
            <p><input type="submit" name="submit" value="Turn On"> </p>
            <p><input type="submit" name="submit" value="Loading Mode"> </p>
            <p><input type="submit" name="submit" value="Unloading Mode"> </p>
            <p><input type="submit" name="submit" value="Turn Off"> </p>
        </form>
    </div>
  </body>
</html>
